{% extends "judo/base.html" %}
{% load crispy_forms_tags %}

{% block title_block %}
  GUJC - Merchandise
{% endblock %}

{% block navbar %}
    {% include 'judo/user_navbar.html' %}
{% endblock %}

{% block body_block %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<div class="container mt-5">
  <h1 class="text-center mb-4">Merch</h1>
  <div class="row">
    <!-- Display existing merchandise items -->
    <div class="col-lg-8 offset-lg-2">
      <div class="row">
        {% for item in merch_items %}
        <div class="col-lg-4 col-md-6 mb-3">
          <div class="card">
            <div class="card-container">
              <div class="image-container">
                <img src="{{ item.picture.url }}" class="card-img-top" alt="{{ item.name }}">
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">Price: £{{ item.itemPrice }}</p>
              <!-- Add a Buy Now button to trigger the modal -->
              <form action="{% url 'judo:create-checkout-session' item %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-primary" action="{% url 'judo:create-checkout-session' 5 %}">Buy Now</button>
              </form>
              </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Modals for Buy Now -->
{% for item in merch_items %}
<div class="modal fade" id="buyModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="buyModalLabel{{ item.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="buyModalLabel{{ item.id }}">Buy Now</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>For the purposes of this demo, the Buy Now button has been disabled.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}



{% block footer_block %}
    {% include 'judo/user_footer.html' %}
{% endblock %}
