{% extends "judo/base.html" %}

{% block footer_block %}
<footer class="text-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>About Us</h4>
          <p>This is the Glasgow University Judo Club website. We are passionate about judo and welcome all enthusiasts to join us.</p>
          <p>Address: 123 Judo Street, Glasgow</p>
          <p>Contact: <a href="mailto:secretary-judo@gusa.gla.ac.uk">secretary-judo@gusa.gla.ac.uk</a></p>
        </div>
        <div class="col-md-4">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="{% url 'judo:index' %}">Home</a></li>
            <li><a href="{% url 'judo:about' %}">About</a></li>
            <li><a href="{% url 'judo:merch' %}">Merch</a></li>
            <li><a href="{% url 'judo:index' %}">Join Us</a></li>
            <li><a href="{% url 'judo:contact' %}">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <ul>
            <li><a href="https://instagram.com/gujudoclub?igshid=MzRlODBiNWFlZA==" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
{% endblock %}
